# Môi trường ảo Python
.venv/
venv/
env/
ENV/

# Thư mục cache của Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Thư mục tự động lưu của Jupyter Notebook
.ipynb_checkpoints/

# Các file cấu hình hệ thống máy cá nhân
.vscode/
.idea/
.DS_Store